.wrapper {
  width: 100%;
  background: linear-gradient(#1d2761, #5c509e) !important;

  .wrapper-header {
    .logo {
      height: 40px;
      line-height: 40px;
      font-size: 18px;
      font-weight: bold;
      color: #fff;
      padding: 0 16px;
      background: #2196F3;
      margin: 12px 16px 12px 0;
      float: left;
    }
    ul.nav-list {
      float: left;
      display: flex;
      list-style: none;
      padding-left: 0;
      li {
        text-align: center;
        height: 48px;
        line-height: 48px;
        margin: 8px 16px;
        padding: 0 16px;
        color: #fff;
        cursor: pointer;
        &:hover {
          color: #2196F3;
          background-color: #1d2761;
          border-bottom: 2px solid;
        }
      }
    }
  }

  .wrapper-body {
    padding: 24px;
    margin: 16px auto;
    background: #f0f2f5;
    min-height: 700px;
  }

  .wrapper-footer {
    text-align: center;
    color: #f0f2f5;
    background: #5c509e;
  }
}
